server {{openvpn_subnet}} {{openvpn_subnetmask}}
verb 3 

key /data/pki/private/openvpn-server.key 
ca /data/pki/ca.crt 
cert /data/pki/issued/openvpn-server.crt
dh /data/pki/dh.pem

tls-auth /data/pki/ta.key 

key-direction 0 

keepalive 30 120 

persist-key 
persist-tun 

proto udp
port 1194

dev tun0 

status /tmp/openvpn-status.log 

user nobody
group nogroup

client-to-client

### Route Configurations Below
push "route {{openvpn_subnet}} {{openvpn_subnetmask}} vpn_gateway"

